<h1>Hello</h1>
<div>
  <app-humburger (newHam)="onNew($event)"></app-humburger>
</div>

<div>
  <app-coffee (newCofee)="onNew($event)"></app-coffee>
</div>

<div>
 <app-tea (newTea)="onNew($event)"></app-tea>
</div>

<div>
 <app-cola (newCola)="onNew($event)"></app-cola>
</div>

<div>
  <app-fries (newFries)="onNew($event)"></app-fries>
</div>

<div>
  <app-cheeseburger (newChB)="onNew($event)"></app-cheeseburger>
</div>

<div>
  <app-details *ngFor="let i of array" [item_D]="i"></app-details>
</div>

